:root {
    --vermelho: #ff0000; 
    --laranja: #ffa040; 
    --Azul-claro: #14a9ff; 
    --azul-escuro: #0000ff; 
    --verde: #00ff00; 
    --roxo: #ff00ff; 
    --amarelo: #ffff00;

    --ruinas:#b962b9;
    --nevada: #bbcbea;
    --cachoeira: #00d9ff;
    --terra-quente: #b25700;
    --nova-casa: #808080;
}